.logo-container
{
    box-sizing: border-box;
    padding-top:20px;
    padding-bottom:20px;
    width:100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.logo-container img
{
    height: 80px;
    width: 80px;
}
.homepageLinkContainer
{
	width:100%;
	height:auto;
	box-sizing:border-box;
    padding-left:20px;
    padding-right:20px;
    display: flex;
    flex-direction: column;
}
.homepageSectionOuterContainer
{
    width:100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom:20px;
}
.homepageSectionContainer
{
	width:100%;
	box-sizing: border-box;
	padding:10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.homepageSectionTitle
{
	height:25px;
	width:100%;
	line-height: 25px;
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	box-sizing: border-box;
	padding-left:10px;
	padding-right:10px;
	color:#EBEBEB;
	background-color:#404040 ;
	font-weight:bold;
	text-transform: uppercase;
}
.homepageLink
{
	width:70px;
	height:70px;
	text-align:center;
	margin:10px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	background-color:#4C91CB;
	background: -webkit-linear-gradient(to left, #00B4DB, #0083b0); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #00B4DB, #0083b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color:#fff;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.homepageLink:active
{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.homepageLink .homepageLinkiContainer
{
	display: flex;
	align-items: center;
	justify-content: center;
	width:100%;
	height: 45px;
}
.homepageLink i
{
	font-size:30px;
}
.homepageLink .homepageLinkTextContainer
{
	width:100%;
	height:25px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: 'Quicksand', sans-serif;
	font-weight:bold;
	text-align:center;
	box-sizing:border-box;
	font-size:12px;
	padding-left:5px;
	padding-right:5px;
}
.popup-homepage-link
{
	position: absolute;
	height:70px;
	flex-direction: column;
	margin-left:10px;
	display: none;
	background-color: transparent;
}
.popup-homepage-link button
{
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	background-color:#4C91CB;
	background: -webkit-linear-gradient(to left, #00B4DB, #0083b0);
	background: linear-gradient(to left, #00B4DB, #0083b0);
	/*background-color: #404040;*/
	color:#fff;
	width:30px;
	height:30px;
	border:none;
	outline:none;
	border-radius: 50%;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	display: flex;
	align-items: center;
	justify-content: center;
}
.popup-homepage-link button:active
{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}