/*Control bar*/

.top-control-bar
{
    position: absolute;
    top:60px;
    left:10px;
    right:10px;
    display: flex;
    flex-direction: row;
    transition: all 0.8s cubic-bezier(.25,.8,.25,1);
}
.top-control-bar-button
{
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    height:50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:10px;
    background-color: transparent;
    border:none;
    border-radius: 2px;
    font-family: 'Montserrat',sans-serif;
    font-size:13px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    outline: none;
    font-weight: bold;
    transition: all 0.8s cubic-bezier(.25,.8,.25,1);
}
.top-control-bar-button:active
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.top-control-bar-button *
{
    margin-left:5px;
    margin-right: 5px;
    text-align:center;
}
.top-control-bar-hidden-button
{
    display: none;
}
/*Anteprima richieste nella pagina*/
.richieste-container
{
    position: absolute;
    left:10px;
    right:10px;
    width:calc(100% - 20px);
    display: flex;
    flex-direction: column;
    margin-bottom:10px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.richieste-error-message-container
{
    width:100%;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    text-decoration: underline;
    font-weight: bold;
}
.richiesta-outer-container
{
    margin:10px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.richiesta-id-container
{
    height:20px;
    line-height:20px;
    box-sizing: border-box;
    padding-left:5px;
    padding-right: 5px;
    width:50px;
    font-weight: bold;
    color: black;
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border:none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.richiesta-inner-container
{
    height:80px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border:none;
    /*border-radius: 4px;*/
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-sizing: border-box;
    padding:5px;
}
.richiesta-inner-container[stato="Presa in carico"],.richiesta-id-container[stato="Presa in carico"]
{
    background-color: #4C91CB;
}
.richiesta-inner-container[stato="Aperta"],.richiesta-id-container[stato="Aperta"]
{
    background-color: #DA6969;
}
.richiesta-inner-container[stato="In attesa di chiusura"],.richiesta-id-container[stato="In attesa di chiusura"]
{
    background-color: #E9A93A;
}
.richiesta-inner-container[stato="Chiusa"],.richiesta-id-container[stato="Chiusa"]
{
    background-color: #70B085;
}
.richiesta-inner-container .user-image
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left:5px;
}
.richiesta-inner-container .basic-info-container
{
    height: 60px;
    width: calc(100% - 75px);
    margin-left:15px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.11);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
}
.richiesta-inner-container .basic-info-container .basic-info-container-row
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.richiesta-inner-container .simple-text-container
{
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    color:black;
    font-weight: normal;
    overflow: hidden;
}
/*Popup dettagli richiesta*/
.popup-dettagli-richiesta-outer-container
{
    display: none;
    flex-direction: column;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    padding-bottom:10px;
}
.button-cambia-stato-richiesta
{
    margin-top:10px;
    margin-right: 10px;
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    height: 30px;
    background-color: transparent;
    border:none;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    outline:none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width:150px;
}
.button-cambia-stato-richiesta:active
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.popup-dettagli-richiesta-outer-container .row-container
{
    display: flex;
    box-sizing: border-box;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
}
.popup-dettagli-richiesta-outer-container .row-container[stato="Presa in carico"]
{
    background-color: #4C91CB;
}
.popup-dettagli-richiesta-outer-container .row-container[stato="Aperta"]
{
    background-color: #DA6969;
}
.popup-dettagli-richiesta-outer-container .row-container[stato="In attesa di chiusura"]
{
    background-color: #E9A93A;
}
.popup-dettagli-richiesta-outer-container .row-container[stato="Chiusa"]
{
    background-color: #70B085;
}
.popup-dettagli-richiesta-outer-container .row-container .simple-text-container
{
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    color:black;
    font-weight: normal;
    overflow: hidden;
    text-align: left;
}
.popup-dettagli-richiesta-outer-container .row-container .user-image
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.popup-dettagli-richiesta-outer-container .container-bottoni-dettagli-risposte
{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#popupDettagliRichiestaBtnDettagli,#popupDettagliRichiestaBtnRisposte
{
    width:50%;
    border:none;
    height:35px;
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    font-weight: bold;
    color:black;
    outline: none;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.popup-dettagli-richiesta-outer-container .row-container .simple-list
{
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    color:black;
    font-weight: normal;
    overflow: hidden;
    text-align: left;
    padding: 0px;
    padding-left:15px;
    margin: 0px;
}
.popup-dettagli-richiesta-outer-container .row-container .file-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-bottom:5px;
}
.popup-dettagli-richiesta-outer-container .row-container .file-container .file-container-item
{
    height:40px;
    width: 100px;
    margin-right:10px;
    margin-top:5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    flex-direction: column;
    background-color: #EBEBEB;
    border-radius:4px;
}
.popup-dettagli-richiesta-outer-container .row-container .file-container .file-container-item i
{
    height:25px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup-dettagli-richiesta-outer-container .row-container .file-container .file-container-item span
{
    font-size: 12px;
    font-family: 'Montserrat',sans-serif;
    height:15px;
    line-height:15px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin:0px;
    background-color: #ddd;
    color:gray;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.outer-container-popup-filtri-richieste
{
    width:100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.select-container-popup-filtri-richieste
{
    width:100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.select-container-popup-filtri-richieste div
{
    width:100%;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Montserrat',sans-serif;
    color:black;
    text-align: left;
    margin-bottom:5px;
}
.select-container-popup-filtri-richieste select
{
    width:100%;
    font-size: 12px;
    font-family: 'Montserrat',sans-serif;
    text-align: left;
    outline:none;
}
#popupDettagliRichiestaSelectAggiungiUtentiCoinvolti
{
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    text-align: left;
    width:100%;
    outline:none;
}
#containerInputReplica
{
    border:none;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    padding:10px;
    background-color:#eeeeee;
    margin-top:10px;
    margin-bottom:-10px;
    width:100%;
    flex-direction:column;
}
#containerInputReplica .container-input-replica-row
{
    display: flex;
    flex-direction:row;
}
#popupRichiesteTextareaDescrizione
{
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    border:1px solid #bbb;
    border-radius: 4px;
    box-shadow: transparent;
    overflow: hidden;
    outline:none;
    background-color: white;
    padding:5px;
}
#popupRichiesteBtnInserisciReplica,#popupRichiesteBtnInserisciAllegato
{
    height: 30px;
    background-color: transparent;
    margin-left: 10px;
    border:none;
    font-size: 20px;
    outline:none;
    padding:5px;
    transition: all 0.8s cubic-bezier(.25,.8,.25,1);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#popupRichiesteBtnInserisciReplica:active,#popupRichiesteBtnInserisciAllegato:active
{
    background-color: gray;
}
#containerAllegatiRisposta .container-allegati-risposta-item
{
    height:40px;
    width: 100px;
    margin-top:10px;
    margin-right:10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    flex-direction: column;
    background-color: #EBEBEB;
    border-radius:4px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#containerAllegatiRisposta .container-allegati-risposta-item i
{
    height:25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#containerAllegatiRisposta .container-allegati-risposta-item span
{
    font-size: 12px;
    font-family: 'Montserrat',sans-serif;
    height:15px;
    line-height:15px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin:0px;
    background-color: #ddd;
    color:gray;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
#containerAllegatiRispostaAlertFileSize
{
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-top:10px;
    width:100%;
    min-height:20px;
    line-height: 20px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    background-color: #fffaba;
    text-align: left;
}